services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./ZUS Accident Notification Tool
      dockerfile: Dockerfile
    depends_on:
      - backend
    ports:
      - "3000:80"
