@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss/theme";

/* Custom Scrollbar for a premium feel */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}

body {
  background-color: #f0fdf4; /* Very light green tint background */
  color: #1e293b;
}
